html,body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
}
#app{
    width: 100%;
    display: none;
}
header>img{
    width: 100%;
}
#form{
    height: 100%;
    padding: 0.5rem 1rem;
}
.form-item{
    /* padding-bottom: 1.4rem; */
    position: relative;
}
label{
    font-size: 16px;
}
.form-item-show{
    display: block;
}
.form-item-hide{
    display: none;
}
.field-rule{
    width: calc(100% - 1rem);
    /* position: absolute; */
    position: relative;
    left: 0;
    bottom: 6px;
    height: 1.6rem;
    margin: 0 0.5rem;
    font-size: 0.75rem;
    line-height: 1.6rem;
    color: #ff0000;
    text-indent: 1rem;
}
.field-rule-select{
    bottom: 6px;
}
.field-rule-radio{
    bottom: 16px;
}
.field-rule-checkbox{
    bottom: 16px;
}
.remark-rule{
    width: calc(100% - 1rem);
    /* position: absolute; */
    position: relative;
    left: 0;
    top: 2px;
    height: 1.6rem;
    margin: 0 0.5rem;
    font-size: 0.75rem;
    line-height: 1.6rem;
    color: #ff0000;
    text-indent: 2rem;
}
.field-icon{
    display: block;
    float: left;
    height: 1rem;
    margin: 0.6rem 0;
    padding-right:0.6rem;
    border-left: 0.2rem solid #635CEA;
}
.field-name{
    width: calc(100% - 1rem);
    display: block;
    float: left;
    margin: 0.6rem 0;
    line-height: 1.2rem;
    font-size: 16px;
    font-family:'PingFang SC';
    font-weight:500;
    color:rgba(51,51,51,1)
}
.field-area{
    text-align: right;
    font-size: 1rem;
    font-family:'PingFang SC';
    font-weight:400;
    color:rgba(181,181,181,1);
    padding: 0.3rem;
    cursor: pointer;
    color: #007AFF;
}
.field-text{
    display:inline-block;
    width: 100%;
    font-size:16px;
    font-family:'PingFang SC';
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:16px;
    height: 36px;
    padding: 6px 5px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.field-remark{
    display:inline-block;
    width: calc(100% - 40px);
    font-size:14px;
    font-family:'PingFang SC';
    font-weight:400;
    color:rgba(51,51,51,1);
    line-height:14px;
    height: 30px;
    padding: 6px 5px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.field-text-date{
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding-left: 40px;
    background-image: url('img/icon_day.png');
    background-size: 16px 20px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
}
.field-text-address{
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding-left: 40px;
    background-image: url('img/icon_address.png');
    background-size: 16px 20px;
    background-position: 10px 6px;
    background-repeat: no-repeat;
}
.field-text-select{
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    padding-left: 20px;
    background-image: url('img/down.png');
    background-size: 16px 20px;
    background-position: 96% 7px;
    background-repeat: no-repeat;
}
.field-text-number{
    border: 1px solid #e0e0e0;
    border-radius: 6px;
}
.field-txt{
    width: calc(100% - 20px);
    /* height: 6rem; */
    outline: none;
    border-radius: 0.4rem;
    resize: none;
    padding: 10px;
    border-color: #e0e0e0;
    -webkit-appearance: none;
    font-size:16px;
    font-family:'PingFang SC';
    /* font-weight:bold; */
    color:rgba(0,0,0,1);
    line-height:24px;
}
.field-txt::-webkit-scrollbar{
    width: 6px;
    background-color: #f0f0f0;
}
.field-txt::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px #aaa;
    border-radius: 3px;
    background-color: #aaa;
}
.field-div{
    padding: 0.8rem 0.4rem  0rem;
    /* height: 50px; */
    /* line-height: 50px; */
    /* border: 0px solid transparent; */
}
.field-div-select{
    padding-bottom: 0rem;
}
.field-div-option{
    padding: 1rem 0;
}
.field-div-radio{
    margin-bottom: 1.2rem;
}
.field-div-checkbox{
    margin-bottom: 1.2rem;
}
.field-div-remark{
    display: none;
}
.field-radio{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
}
.field-radio + label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;;
    font-size: 16px;
    width: 18px;
    height: 18px;
    margin-right: .4em;
    border-radius: 50%;
    background: url('img/checkNo.png');
    background-size:18px 18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
}

.field-radio:checked + label::before {
    content: " "; 
    display: inline-block;
    vertical-align: middle;
    /* font-size: 18px; */
    width: 18px;
    height: 18px;
    margin-right: .4em;
    border-radius: 50%;
    background: url('img/checkYes.png') center center no-repeat;;
    background-size:18px 18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
}
.field-checkbox{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
}
.field-checkbox + label::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: .4em;
    background: url('img/checkboxNo.png');
    background-size:18px 18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
}

.field-checkbox:checked + label::before {
    content: " "; 
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: .4em;
    background: url('img/checkboxYes.png') center center no-repeat;;
    background-size:18px 18px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: transparent;
}
input:-webkit-autofill {-webkit-box-shadow:0 0 0px 100px white inset;}
input::-webkit-input-placeholder{
    color:#e0e0e0;
    font-size: 0.8rem;
    text-indent: 0rem;
    font-weight: normal;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#e0e0e0;
    font-size: 0.8rem;
    text-indent: 0rem;
    font-weight: normal;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#e0e0e0;
    font-size: 0.8rem;
    text-indent: 0rem;
    font-weight: normal;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#e0e0e0;
    font-size: 0.8rem;
    text-indent: 0rem;
    font-weight: normal;
}
textarea::-webkit-input-placeholder{
    color:#e0e0e0;
    font-size: 0.8rem;
    text-indent: 0rem;
    font-weight: normal;
}
footer{
    padding: 2rem 0;
}
.submitBtn{
    width:90%;
    margin:0 5%;
    height: 2.4rem;
    border-radius: 0.4rem;
    background: #007AFF;
    text-align: center;
    line-height: 2.4rem;
    color: #fff;
}
.field-file{
    width: 100px;
    height: 70px;
    padding: 0;
    margin: 0;
    background-color: #fff !important;
    border: none;
    background-image: url('img/upload.png');
    background-size:70px 70px;
    background-position:0 0;
    background-repeat: no-repeat;
    font-size: 12px;
    color:hsl(0, 0%, 100%)
}
.field-file>input[type="button"]{
    display: none
}
input[type="file" i]::-webkit-file-upload-button {
    display: none;
    width: 0;
    height: 0;
    position: relative;
    z-index:-1000;
    opacity: 0;
    filter:alpha(opacity=0);
}

.deleteFile{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50px;
    left: 64px;
    background-image: url('img/deleteFile.png');
    background-size:24px 24px;
    background-position:0 0;
    background-repeat: no-repeat;
    display: none;
}
.orderNum{
    color: #007AFF;
}
.beizhu{
    font-size: 0.8rem;
    color: #888;
}
.remarkRed{
    border-color: #ff0000;
    box-shadow: 0px 0px 6px #e74040;;
}
.isRequired{
    color: #ff0000;
}